@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mohave:wght@500&family=Noto+Sans&family=Ranga&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff9fb;
    font-family: 'PT Sans', sans-serif;
}

header {
    text-transform: uppercase;
}

hr:first-child {
    margin-top: 0 !important;
}

hr:last-child {
    margin-bottom: 0 !important;
}

#headerStyle {
    background-color: #252627;
    padding: 30px 270px;
}

a:hover {
    text-decoration: none;
}

.img-fluid {
    max-height: 70px;
    min-width: 200px;
}

#headerStyle h1 {
    font-size: 40px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .9);
    color: #fff9fb;
}

.labelDiv {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center !important;
    margin: 20px 0;
    font-weight: 400;
}

form {
    margin: 40px 0;
}

.optionChannel {
    font-size: 20px !important;
    color: #252627 !important;
    max-width: 22%;
    margin: 0 auto;
}

#optionCalendar {
    font-size: 20px !important;
    text-align: center !important;
    color: #252627 !important;
    width: 22%;
    margin: 0 auto;
}

#optionButton {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    font-family: 'Noto Sans', sans-serif;
    color: #fff9fb;
    background-color: #ee2a28;
    font-weight: 400;
    letter-spacing: 1px;
    width: 10% !important;
    height: 55px;
    border-radius: 50px;
}

#optionButton:hover {
    color: #fff9fb;
    background-color: #4b88a2;
}

#optionButton:active {
    color: #fff9fb;
    background-color: #252627;
}

.grid-containerHeader {
    display: grid;
    grid-template-columns: 180px auto auto auto;
    padding: 15px 280px;
    text-transform: uppercase;
    font-size: 20px !important;
    text-align: center;
    justify-content: space-between;
}

.grid-containerHeader img {
    margin: 14px;
    padding-left: 27px;
}

.nameChannel {
    margin-top: 25px;
}

.grid-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 400px 400px 350px 380px;
    padding: 15px 145px;
    text-align: center;
}

.hoverEvent:hover {
    color: #fff9fb;
    background-color: rgba(37, 38, 39, .3);
    cursor: pointer;
}

.seriesName {
    margin-top: 25px;
}

.seriesDesc {
    margin-top: 25px;
    text-transform: capitalize;
}

.ageLimitClass {
    width: 35px;
}

.errorDiv {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #ee2a28;
    padding: 120px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
}


/* RESPONSIVITY */

@media only screen and (max-width: 1366px) {
    .grid-containerHeader {
        grid-template-columns: 200px 200px 120px 120px;
        padding: 0 150px;
    }
    .grid-container {
        grid-template-columns: 200px 200px 120px 120px;
    }
    #optionButton {
        width: 230px !important;
    }
}

@media only screen and (max-width: 768px) {
    /* Phone */
    #headerStyle {
        padding: 25px;
    }
    .img-fluid {
        width: 200px;
    }
    #headerStyle h1 {
        font-size: 25px;
    }
    #optionButton {
        width: 220px !important;
    }
    #optionCalendar {
        width: 180px;
    }
    .optionChannel {
        max-width: 180px;
    }
    .grid-containerHeader {
        column-gap: 120px;
        grid-template-columns: auto auto;
        margin: 0 auto;
        padding: 30px;
    }
    .grid-containerHeader img {
        margin: 0;
        padding-left: 0;
    }
    .nameChannel {
        margin-top: 0;
    }
    .nameChannel:nth-child(2) {
        display: block;
    }
    .nameChannel:nth-child(3),
    .nameChannel:nth-child(4) {
        display: none !important;
    }
    .grid-container {
        display: block;
        padding: none;
    }
    .card-footer:last-child {
        font-size: 11px;
        height: 20px;
    }
}